<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1 class="abt_hdr">
    About Binary Deck
  </h1>
  <p class="abt_txt">
    Binary Deck is designed &amp; created by Dr. Aubrey W. Love II (AKA B10 H4ck3r).<br/>
    <br/>
    <b><i><u>Why create Binary Deck?</u></i></b><br/>
    Binary Deck was originally created in order to showcase Aubrey's programming
    abilities. However, as several of his friends pointed out, there is no
    true Anonymous Social Media website in which would ensure their safety
    and security while socializing with their friends. So Aubrey designed it
    in order to fulfill his friends desires.<br/>
    <br/>
    <b><i><u>What Keeps Me Safe?</u></i></b><br/>
    <br/>
    Our abilities to not read your stored cache cookies is a start. We do not
    care what you are searching for, nor have any requests to shove ads in your
    face like our competitors. We are not concerning ourselves with your online
    presence time. And we are also anonymizing your IP address. Your real IP Address
    will be displayed on your profile "Deck" alongside with your Fake IP Address.<br/>
    <br/>
    <b><i><u>How do you collect Funds?</u></i></b><br/>
    <br/>
    Our funding process, as of 01/01/2021, Aubrey is the sole supporter and financial
    backer of this operation. However, we are also accepting donations from other
    individuals and organizations. All donations will be used strictly for the
    future development of Cyber Deck and new resources we can utilize to help
    make this site even better and keep it up.<br/>
    <br/>
    <b><i><u>How much does this cost?</u></i></b><br/>
    <br/>
    The development cost break down sheet for Cyber Deck is as follows;<br/>
    * Hosting ~ $25 Monthly<br/>
    * Domain ~ $30 Yearly<br/>
    * Internet ~ $75 Monthly<br/>
    * Electricity ~ $50 Monthly<br/>
    * Time ~ $13 Hourly<br/>
    Total Yearly Cost: $26,790!<br/>
    Granted, the majority of the funds is with Time for Developer, but as you can see,
    just the basic fundamentals of designing, developing, and hosting this website
    is extremely expensive. So donations are greatly appreciated. <br/>
    <br/>
    <b><i><u>Why do I see ads?</u></i></b><br/>
    <br/>
    While we do not actively collect your cache and store it for customized ad placement,
    we have taken Google Ads and integrated them into the website for assistance on financial
    stability. The ads are located in very selected spots throughout the website,
    in which are visible, but not actively being pushed directly into your feed directly.
    Thus granting you the ability to see your friends posts and activities without
    scrolling throughout several ads that do not apply to you. Instead we place them
    on different aspects of our site just to show them, but not actively shove them
    in your face like our competitors. <br/>
    <br/>
    <b><i><u>What trackers are you using?</u></i></b><br/>
    <br/>
    We are primarly using Google Tracking only to monitor where are users are coming
    from. We are not storing any active information from you directly. You will
    see your IP Address on your profile page, however, that is active collecting and
    not storing anything. We are using Google Tracking, not to store any information,
    but to gather a monthly report on discovering where are most active users are located
    at in order to provide new resources for the development of Cyber Deck to
    cater to our broad range of users.<br/>
</div>
