<% provide(:title, "Connect") %>
<div class="center jumbotron cnt">
  <h1 class="cnt_hdr">
    Connect with the developer!
  </h1><br/>
  <br/>
  <p class="cnt_txt">
    I am greatly appreciated that you are wanting to connect with me. Regardless
    if you are wanting to know more about the development process of Cyber Deck,
    eager to discover the next release date and update information, or virtually
    any other reason, I am happy to have a new connection!<br/>
    For those who are still on other social media platforms;<br/>
    <br/>
    <a href="https://www.facebook.com/b10h4ck3r" target="_blank"><i class="fab fa-facebook-f fa_ico"></i></a>
    <a href="https://www.linkedin.com/in/dr-aubrey-love-ii-0051b1202" target="_blank"><i class="fab fa-linkedin-in fa_ico"></i></a>
    <a href="https://www.twitter.com/H4ck3rB10" target="_blank"><i class="fab fa-twitter fa_ico"></i></a>
    <a href="https://www.github.com/B10-H4ck3r" target="_blank"><i class="fab fa-github fa_ico"></i></a>
</div>
