<% provide(:title, "DevLogs") %>
<div class="center jumbotron dvlg">
  <h1 class="dev_hdr">
    Cyber Deck DevLogs
  </h1>
  <p class="dev_txt">
    Want to discover what we have done to Cyber Deck so far? No problem!<br/>
    From this page, one is fully able to discover every single time we have
    pushed an update and the exact Date/Time/Reason!<br/>
  </p>
  <p class="dev_log_hdr">
    01/01/2021 @ 16:20
  </p>
  <p class="dev_log_txt">
    * Create Basic Landing Pages<br/>
    * Integrated Bootstrap<br/>
    * Converted Pages to Dynamic Pages<br/>
    * Structured Project Routes<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 13:20
  </p>
  <p class="dev_log_txt">
    * Setup Heroku Development Server<br/>
    * Designed General Theme<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 14:40
  </p>
  <p class="dev_log_txt">
    * Add SSL to Heroku Deployment<br/>
    * Setup Google Tracking<br/>
    * Setup Google Ads<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 15:30
  </p>
  <p class="dev_log_txt">
    * Integrated Font-Awesome<br/>
    * Added Content to Landing Pages<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 15:40
  </p>
  <p class="dev_log_txt">
    * Finished All Landing Pages<br/>
    * Added Donation Options<br/>
    * Finished GUI Theme<br/>
  </p>
  <p class="dev_log_hdr">
    01/03/2021 @ 12:30
  </p>
  <p class="dev_log_txt">
    * Created User Registration<br/>
  </p>
  <p class="dev_log_hdr">
    01/03/2021 @ 13:00
  </p>
  <p class="dev_log_txt">
    * Created the Login Process
  </p>
  <p class="dev_log_hdr">
    01/03/2021 @ 14:50
  </p>
  <p class="dev_log_txt">
    * Edit Profile Page Created<br/>
    * Show All Users<br/>
    * Created Admin Attribute<br/>
    * Included Pagination<br/>
    * Allowed Deletion of Users<br/>
  </p>
  <p class="dev_log_hdr">
    01/03/20210 @ 15:05
  </p>
  <p class="dev_log_txt">
    * Fixed Log In Issue
  </p>
  <p class="dev_log_hdr">
    01/03/2021 @ 18:30
  </p>
  <p class="dev_log_txt">
    * Started on Profile GUI Theme<br/>
    * Fixed Edit Profile Page
  </p>
  <p class="dev_log_hdr">
    01/04/2021 @ 07:20
  </p>
  <p class="dev_log_txt">
    * Fixed Load Image Error on Heroku
  </p>
  <p class="dev_log_hdr">
    01/04/2021 @ 18:10
  </p>
  <p class="dev_log_txt">
    * Included Post Creation<br/>
    * Setup Feed Structure<br/>
    * Integrated AWS for Active Storage
  </p>
  <p class="dev_log_hdr">
    01/04/2021 @ 19:20
  </p>
  <p class="dev_log_txt">
    * Start working on User Profile Theme
  </p>
  <p class="dev_log_hdr">
    01/05/2021 @ 08:50
  </p>
  <p class="dev_log_txt">
    * Added Follow Users
  </p>
  <p class="dev_log_hdr">
    01/05/2021 @ 12:20
  </p>
  <p class="dev_log_txt">
    * Added Avatar Uploads<br/>
    * Added Banner Uploads
  </p>
  <p class="dev_log_hdr">
    01/05/2021 @ 14:00
  </p>
  <p class="dev_log_txt">
    * Added a few GUI Designs<br/>
    * Updated View Users Page
  </p>
</div>
