<% provide(:title, "DevLogs") %>
<div class="center jumbotron dvlg">
  <h1 class="dev_hdr">
    Cyber Deck DevLogs
  </h1>
  <p class="dev_txt">
    Want to discover what we have done to Cyber Deck so far? No problem!<br/>
    From this page, one is fully able to discover every single time we have
    pushed an update and the exact Date/Time/Reason!<br/>
  </p>
  <p class="dev_log_hdr">
    01/01/2021 @ 16:20
  </p>
  <p class="dev_log_txt">
    * Create Basic Landing Pages<br/>
    * Integrated Bootstrap<br/>
    * Converted Pages to Dynamic Pages<br/>
    * Structured Project Routes<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 13:20
  </p>
  <p class="dev_log_txt">
    * Setup Heroku Development Server<br/>
    * Designed General Theme<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 14:40
  </p>
  <p class="dev_log_txt">
    * Add SSL to Heroku Deployment<br/>
    * Setup Google Tracking<br/>
    * Setup Google Ads<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 15:30
  </p>
  <p class="dev_log_txt">
    * Integrated Font-Awesome<br/>
    * Added Content to Landing Pages<br/>
  </p>
  <p class="dev_log_hdr">
    01/02/2021 @ 15:40
  </p>
  <p class="dev_log_txt">
    * Finished All Landing Pages<br/>
    * Added Donation Options<br/>
    * Finished GUI Theme<br/>
  </p>

</div>
