<% provide(:title, "Donate") %>
<div class="center jumbotron">
  <h1>
    Please donate to help raise money for the development of this website.<br/>
    <br/>
    Plus each donation does in fact help keep the developer motivated!
  </h1>
</div>
