<div class="center jumbotron">
  <h1 class="wlcm_hdr">Welcome to the CyberDeck</h1>

  <h2 class="wlcm_txt">
    Safe Secure Online Social Media Anonymous Experience!
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
