<div class="center jumbotron hme">
  <h1 class="wlcm_hdr">Welcome to the CyberDeck</h1>

  <h2 class="wlcm_txt">
    Safe Secure Online Social Media Anonymous Experience!<br/>
    Connect with all of your friends in one safe online social
    media experience with ease!<br/>
    <br/>
    What's Included with your account;<br/>
    IP Address NOT being stored!<br/>
    Fake IP Address!<br/>
    Connection to Friends!<br/>
    + More!<br/>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>&nbsp;&nbsp;&nbsp;<%= link_to "Login!", login_path, class: "btn btn-lg btn-success" %>
</div>
