@import "bootstrap-sprockets";
@import "bootstrap";


body
{
  background-color: lightgray;
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.hme
{
  border: 5px double #00F;
  box-shadow: 15px 15px 20px #000;
  padding: 15px;
}

.dnt
{
  border: 5px double #0F0;
  box-shadow: 15px 15px 20px #000;
  padding: 15px;
}

.dnt_img
{
  height: 150px;
  width: 300px;
  border: 2px solid #000;
  box-shadow: 10px 10px 15px #000;
  margin-right: 30px;
}

.cnt
{
  border: 5px double #F0F;
  box-shadow: 15px 15px 20px #000;
  padding: 15px;
}

.abt
{
  border: 5px double #F00;
  box-shadow: 15px 15px 20px #000;
  padding: 15px;
}

.dvlg
{
  border: 5px double #00F;
  box-shadow: 15px 15px 20px #000;
  padding: 15px;

}
